/* resentando o css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

/** body */
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/** cabeçalho logo e menu */
header {
  display: flex;
  position: fixed; /* cabeçalho fixo na página, mesmo com o scroll */
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background-color: transparent;
  color: #fff;

  padding: 10px 20px 7px;
}

header * {
  background-color: transparent; /* para ficar com o fundo do background image*/
}

.logo-container {
  display: flex;
}

/*! Alterar */
.logo-container img {
  width: 30px;
  height: 30px;
}

.logo-name {
  padding-inline: 10px;
  font-size: 1.4em;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-items: right;

  list-style: none;
}

a {
  text-decoration: none; /* tira o sublinhado do link */
  color: #fff;
  padding-right: 20px;
  font-size: 1.3em;
}

a:hover {
  color: #006684; /* altera a cor do texto */
  cursor: pointer; /* muda o cursor do mouse para indicar que o link é clicável */
}

/** seções */
section {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  /* flex-wrap: wrap; */
}

hr {
  width: 70%;
}

/** seçõs principais (primeira de cada página) */

.banner-home,
.banner-services,
.banner-contact,
.banner-local {
  width: 100%;
  height: 475px;
  text-align: center;
  padding: 20px;

  display: flex;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  flex-direction: column;
}

.banner-home {
  background-image: url('../images/backgroung-home.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* ajusta o tamanho da imagem para preencher toda a área */
  background-position: center; /* centraliza a imagem no centro da seção */
}

.banner-services {
  background-image: url('../images/background-servicos.jpg');
  background-size: cover;
  background-position: center;
}

.banner-contact {
  background-image: url('../images/background-contact.jpg');
  background-size: cover;
  background-position: center;
}

.banner-local {
  background-image: url('../images/background-local.jpg');
  background-size: cover;
  background-position: center;
}

/** Títulos */
h1,
h2 {
  background-color: transparent; /* transparent para não ficar com fundo diverso do background image colocado */
}

h1 {
  font-size: 5em;
  font-weight: 700;
}

/** Título da página principal */

.main-title {
  font-family: 'Roboto', sans-serif;
  color: #fff;

  font-size: 6em;
}

/** texto abaixo do título */
.text-subtitle {
  background-color: transparent;
  color: #fff;
  font-size: 25px;
  padding-top: 25px;
}

/** Títulos outras páginas */

.title {
  font-weight: 200;
}

/** seções de apresentação */

.presentation {
  width: 100%;
  height: 400px;
  padding: 20px;
  background-color: #006684;
  color: #fff;

  display: flex;
  align-items: center;
  text-align: center;
}
.presentation h2 {
  padding: 150px;
  font-size: 40px;
  font-weight: 200;
}

/*! seção principais serviços */
.main-services * {
  background-color: #006684;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.container-main-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 350px;
  width: 400px;
}

/*! video youtube */
/* 
.video-youtube iframe {
  width: 100%;
  height: 400px;
} */

/*! formulário da página Contatos */
form {
  display: block; /* block -> cada item ficar um abaixo do outro */
  /* margin: 0 auto;
  max-width: 600px; */
}

form label,
form input {
  display: block;
  margin-bottom: 10px; /* Adicione uma margem inferior para espaçar cada item do formulário */
}

/** rodapé  */

footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 60px;
}

.social-icons {
  display: flex;
  padding-bottom: 13px;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

.social-icons li {
  list-style: none;
}

.social-icons li:hover {
  cursor: pointer;
}

footer p {
  font-size: 15px;
}


/* @media (max-width: 768px) {
  /* estilos para dispositivos móveis aqui */
  /* .container-logo {
    max-width: 100%;
  }

  .main-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main-title {
    font-size: 2em;
  }
  
  .container-main-services {
    flex-direction: column;
  }

  .featured-services {
    margin-bottom: 1em;
  }
  .video-youtube iframe {
    height: 250px;
  }
} */ 