/* resentando o css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

/** body */
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/** cabeçalho logo e menu */
header {
  display: flex;
  position: fixed; /* cabeçalho fixo na página, mesmo com o scroll */
  justify-content: space-between;
  align-items: center;

  width: 100%;
  color: #f2f2f2;
  background-color: #7171716d;
  /* background-color: transparent; */
  /* color: #434343; */

  padding: 10px 20px 7px;
}

header * {
  background-color: transparent; /* para ficar com o fundo do background image*/
}

.logo-container {
  display: flex;
}

.logo-container img {
  width: 30px;
  height: 30px;
}

.logo-name {
  padding-inline: 10px;
  font-size: 1.4em;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-items: right;

  list-style: none;
}

a {
  text-decoration: none; /* tira o sublinhado do link */
  color: #fff;
  padding-right: 20px;
  font-size: 1.3em;
}

a:hover {
  color: #006684; /* altera a cor do texto */
  cursor: pointer; /* muda o cursor do mouse para indicar que o link é clicável */
}

/** main / seções */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 32px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 70%;
}

/** seçõs principais (primeira de cada página) */

.banner-home,
.banner-services,
.banner-contact,
.banner-local {
  width: 100%;
  height: 475px;
  text-align: center;
  padding: 20px;

  display: flex;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  flex-direction: column;
}

.banner-home {
  background-image: url('../images/backgroung-home.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* ajusta o tamanho da imagem para preencher toda a área */
  background-position: center; /* centraliza a imagem no centro da seção */
}

.banner-services {
  background-image: url('../images/background-servicos.jpg');
  background-size: cover;
  background-position: center;
}

.banner-contact {
  background-image: url('../images/background-contact.jpg');
  background-size: cover;
  background-position: center;
}

.banner-local {
  background-image: url('../images/background-local.jpg');
  background-size: cover;
  background-position: center;
}

/** Títulos */
h1,
h2 {
  background-color: transparent; /* transparent para não ficar com fundo diverso do background image colocado */
}

/* h1 {
  font-size: 5em;
  font-weight: 700;
} */

h2 {
  font-size: 2em;
  font-weight: 500;
  padding: 32px 0;
}

/** Título da página principal */

.main-title {
  font-family: 'Roboto', sans-serif;
  color: #fff;

  font-size: 6em;
}

/** texto abaixo do título */
.text-subtitle {
  background-color: transparent;
  color: #fff;
  font-size: 25px;
  padding-top: 25px;
}

/** Títulos outras páginas */
.title {
  font-weight: 200;
  font-size: 5em;
}

/** seções de apresentação */

.presentation {
  width: 100%;
  height: 400px;
  padding: 20px;
  background-color: #006684;
  color: #fff;

  display: flex;
  align-items: center;
  text-align: center;
}
.presentation h2 {
  padding: 150px;
  font-size: 40px;
  font-weight: 200;
}

/** seção serviços principais  */

.main-services * {
  background-color: #006684;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.main-services {
  border: 1px solid red;
  background-color: #006684;
}

.container-main-services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.service-card {
  padding: 20px;
}
.container-main-services img {
  height: 350px;
  width: 300px;
  object-fit: cover;
}

img {
  height: 350px;
  width: 400px;
}

button {
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;

  width: 100x;
}

/*! alterar */
button:hover {
  background-color: #00658480;
}

/** seção assessoramento */

section.assessoramento {
  display: flex;

  padding: 32px;
}

.container-assessoramento {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.assessoramento img {
  height: 250px;
  width: 225px;
  object-fit: cover;
}

.assessoramento-card text {
}

/*! video youtube */

section.video {
  display: flex;
  flex-direction: column;
}
/* .video {
  display: flex;
  flex-direction: column;
} */

.container-video {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.video p {
  font-size: 1.5rem;
}
/* 
.video-youtube iframe {
  width: 100%;
  height: 400px;
} */

/*! formulário da página Contatos */
form {
  display: flex;
  flex-direction: column;

  width: 37%;
}

form input {
  padding: 10px;
  margin-bottom: 10px;

  border-radius: 8px;
}

form textarea {
  margin-bottom: 15px;
  border-radius: 8px;
}

form.input-enviar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

form input.enviar {
  width: 20%;
}

/** Página Serviços */

.services {
  display: flex;
}

.container-service {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 60px;
}

.service-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services img {
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.service-image {
  display: flex;
}

/** */

form label,
form input {
  display: block;
  margin-bottom: 10px; /* Adicione uma margem inferior para espaçar cada item do formulário */
}

/** rodapé  */

footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 60px;
}

.social-icons {
  display: flex;
  padding-bottom: 13px;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

.social-icons li {
  list-style: none;
}

.social-icons li:hover {
  cursor: pointer;
}

footer p {
  font-size: 15px;
}

/* @media (max-width: 768px) {
  /* estilos para dispositivos móveis aqui */
/* .container-logo {
    max-width: 100%;
  }

  .main-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main-title {
    font-size: 2em;
  }
  
  .container-main-services {
    flex-direction: column;
  }

  .featured-services {
    margin-bottom: 1em;
  }
  .video-youtube iframe {
    height: 250px;
  }
} */
